<p>Welcome to GUESS THE NUMBER!</p>
<p id="promt">Guess a number between 1 and 100!</p>
<form id="form">
  <input type="text" id="number"/>
  <input type="submit" value="guess"/>
</form>
<span></span>
